# Terraform files
*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl

# Terraform plan output
plan_output
plan_outputsecgroup

# Local .terraform directories
**/.terraform/*

# .tfvars files
*.tfvars
*.tfvars.json

# Crash log files
crash.log
crash.*.log

# Ignore CLI configuration files
.terraformrc
terraform.rc

# Ignore provider binaries
*.exe

# Ignore override files as they are usually used to override resources locally and so
# are not checked in
override.tf
override.tf.json
*_override.tf
*_override.tf.json
